* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Thin';
    src: url('../Fonts/Roboto-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    background: #f5f5f5;
}


/* ---------------------------------Navbar-------------------------------------- */

.navbar {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 100%;
    height: 80px;
    background: rgb(5, 43, 78);
    padding: 0 20px;
    z-index: 999;
    color: #f5f5f5;
}

.title {
    padding-top: 24px;
    text-align: center;
    padding-left: 220px;
    font-family: 'Thin', sans-serif;
    font-weight: 400;
    transition: 0.2s ease;
}

.btn {
    text-align: right;
    padding-top: 18px;
}

.btn button {
    background: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #f5f5f5;
    border: #f5f5f5 2px solid;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn button:hover {
    background: #f5f5f5;
    color: rgb(5, 43, 78);
}

@media screen and (max-width: 800px) {
    .title {
        padding-left: 50px;
        text-align: center;
    }
}


/* ------------------------------------Content------------------------------------------ */

.grid {
    width: 90%;
    margin: 0 auto;
}

.main-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-gap: 25px;
}

.steps {
    border: 1px solid;
}

.profile {
    border: 1px solid;
}


/* ---------------------------------verticle progressbar-------------------------------- */

.progress-bar ul li {
    list-style: none;
    width: 100px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    color: rgb(5, 43, 78);
    position: relative;
    color: #f5f5f5;
    z-index: 1;
}

.progress-bar ul li:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: 49%;
    width: 4px;
    height: 100%;
    background: #0c81b7;
    z-index: -1;
}


/* .progress-bar ul li::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0c81b7;
    z-index: -1;
} */


/* .progress-bar ul li:first-child::before {
    top: 50%;
}

.progress-bar ul li:last-child::before {
    height: 50%;
} */