    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../Fonts/Roboto-Thin.ttf') format('truetype');
        font-style: normal;
        font-weight: 300;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../Fonts/Roboto-Light.ttf') format('truetype');
        font-style: normal;
        font-weight: 400;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../Fonts/Roboto-Regular.ttf') format('truetype');
        font-style: normal;
        font-weight: 500;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        /* font-weight: 500; */
        background: #f5f5f5;
    }
    /* ---------------------------------Navbar-------------------------------------- */
    
    .navbar {
        display: grid;
        grid-template-columns: 5fr 1fr;
        width: 100%;
        height: 80px;
        background: rgb(5, 43, 78);
        padding: 0 20px;
        z-index: 999;
        color: #f5f5f5;
    }
    
    .title {
        padding-top: 24px;
        text-align: center;
        padding-left: 220px;
        font-weight: 300;
        transition: 0.2s ease;
    }
    
    .btn {
        text-align: right;
        padding-top: 18px;
    }
    
    .btn button {
        background: none;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        color: #f5f5f5;
        border: #f5f5f5 2px solid;
        cursor: pointer;
        transition: 0.2s ease;
    }
    
    .btn button:hover {
        background: #f5f5f5;
        color: rgb(5, 43, 78);
    }
    /* ------------------------------------Content------------------------------------------ */
    
    .header-txt {
        font-weight: 300;
        text-align: center;
        padding-bottom: 20px;
        padding-left: 410px;
        color: #009973;
        font-size: 15px;
        line-height: 1.8;
    }
    
    .grid {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    
    .main-grid {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 10% 85%;
        grid-gap: 25px;
    }
    /* ---------------------------------verticle progressbar-------------------------------- */
    
    .progress-bar ul li {
        list-style: none;
        width: 100px;
        height: 75px;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        line-height: 75px;
        font-size: 20px;
        color: rgb(5, 43, 78);
        position: relative;
        color: #f5f5f5;
        z-index: 1;
    }
    
    .progress-bar ul li:nth-child(4) {
        color: black;
    }
    
    .progress-bar ul li:nth-child(5) {
        color: black;
    }
    
    .light-green-item::before {
        content: '';
        position: absolute;
        top: 56px;
        left: 48%;
        width: 4px;
        height: 50%;
        background: #009973;
        z-index: -1;
    }
    
    .progress-bar ul li:nth-child(3):before {
        content: '';
        position: absolute;
        top: 56px;
        left: 48%;
        width: 4px;
        height: 50%;
        background: #c7cbcc;
        z-index: -1;
    }
    
    .progress-bar ul li:nth-child(4):before {
        content: '';
        position: absolute;
        top: 56px;
        left: 48%;
        width: 4px;
        height: 50%;
        background: #c7cbcc;
        z-index: -1;
    }
    
    .light-green-item::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #009973;
        z-index: -1;
    }
    
    .progress-bar ul li:nth-child(3):after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ff9900;
        z-index: -1;
    }
    
    .grey-item::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #c7cbcc;
        z-index: -1;
    }
    /* ---------------------------------------Profile---------------------------------------- */
    
    .profile-inner {
        font-weight: 400;
        display: grid;
        grid-template-columns: 28% 70%;
        grid-gap: 25px;
    }
    
    .profile-info {
        box-shadow: #c7cbcc 0px 0px 10px;
        max-height: 500px;
    }
    
    .profile-pic {
        background: #009973;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .image {
        text-align: center;
    }
    
    .image img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    
    .image h3 {
        color: #f5f5f5;
        padding-top: 15px;
    }
    
    .data {
        font-weight: 300;
        padding-top: 20px;
        padding-left: 25px;
    }
    
    .data p {
        line-height: 1.5;
    }
    
    .address {
        padding-top: 20px;
    }
    
    .address h4 {
        color: #009973;
        padding-bottom: 7px;
    }
    
    .address p {
        list-style: 1.5;
    }
    
    .commun-btn {
        padding-top: 10px;
        display: inline-block;
        padding-bottom: 30px;
    }
    
    .commun-btn p {
        display: inline-block;
        padding-left: 10px;
    }
    
    .commun-btn button {
        float: left;
        padding: 8px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 10px;
        font-size: 25px;
        color: white;
        background: #009973;
        border: 2px solid #c7cbcc;
        text-align: center;
    }
    
    .form {
        font-weight: 500;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
        padding: 20px;
        box-shadow: #c7cbcc 0px 0px 10px;
    }
    
    .left-form label,
    .right-form label {
        display: block;
        padding-bottom: 7px;
    }
    
    .initials {
        width: 110px;
        height: 40px;
        border: 2px solid #c7cbcc;
        border-radius: 20px;
        padding-left: 10px;
    }
    
    .mr-label {
        padding-top: 25px;
    }
    
    .input-type {
        width: 80%;
        height: 40px;
        border: 2px solid #c7cbcc;
        border-radius: 20px;
        padding-left: 10px;
    }
    
    .options {
        appearance: none;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 2em;
        background-image: url('../images/arrow.png');
        padding: 0.1em 1.5em 0.1em 0.4em;
    }
    
    .input-type:focus {
        outline: none;
    }
    
    .btn-tag {
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 15px;
    }
    
    .btn-tag span {
        padding-left: 15px;
    }
    
    .radio {
        border: #c7cbcc 1px solid;
        transform: scale(3);
    }
    
    .buttons {
        margin-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .cancel-btn {
        background: #c7cbcc;
        color: black;
        border: 1px solid #c7cbcc;
        border-radius: 20px;
        padding: 8px 30px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s ease;
    }
    
    .cancel-btn:hover {
        background: #3d3e3e;
        color: white;
    }
    
    .continue-btn {
        background: #009973;
        color: white;
        border: 1px solid #c7cbcc;
        border-radius: 20px;
        padding: 8px 30px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s ease;
    }
    
    .continue-btn:hover {
        background: #38acac;
        color: white;
    }
    /* --------------------------------Media queries----------------------------------- */
    
    @media screen and (max-width: 680px) {
        .profile-inner {
            grid-template-columns: 100%;
        }
        .profile-info {
            margin-bottom: 20px;
        }
        .form {
            grid-template-columns: 100%;
        }
        .initials {
            width: 80%;
        }
    }
    
    @media screen and (max-width: 800px) {
        .title {
            padding-left: 50px;
            text-align: center;
        }
        .header-txt {
            text-align: center;
            /* padding-left: 0px; */
            color: #009973;
        }
    }
    
    @media screen and (max-width: 958px) {
        .profile-inner {
            display: block;
        }
    }
    
    @media screen and (max-width: 1200px) {
        .grid {
            width: 95%;
        }
        .main-grid {
            grid-template-columns: 100%;
        }
        .header-txt {
            text-align: center;
            padding-left: 0px;
            color: #009973;
        }
        .header-txt h1 {
            font-size: 30px;
        }
        .profile-info {
            margin-bottom: 20px;
            max-height: 550px;
        }
    }